---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  return blog.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title=`Blog - ${post.data.title}`>
  <div class="flex flex-none flex-col">
    <ContentLayout className="">
      <header>
        <h1>{post.data.title}</h1>
        <div class="inline-flex">
          <p>Published: &nbsp;</p>
          <time
            class="text-lg font-medium"
            datetime={post.data.datePublished.toDateString()}
            >{post.data.datePublished.toLocaleDateString()}</time
          >
        </div>
      </header>
      <main class="flex-none">
        <div class="prose max-w-md text-light">
          <Content />
        </div>
      </main>
    </ContentLayout>
    <a href="/blog" class="btn my-4 self-start">Back to blog</a>
  </div>
</Layout>
