---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="404 - Page not found">
  <h1 class="text-8xl">404</h1>
  <p class="text-3xl">Page not found</p>
  <Icon class="mt-4 text-6xl" name="pixelarticons:mood-sad" />
</Layout>
