---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="404 - Page not found">
  <h1 class="text-8xl">404</h1>
  <div class="flex flex-row items-center gap-2 text-3xl">
    <span>Page not found</span>
    <Icon name="pixelarticons:mood-sad" />
  </div>
</Layout>
