---
import Tag from "../components/Tag.astro";
import TechnologyTag from "../components/TechnologyTag.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Martin Frommel">
  <main>
    <div id="hero" class="hero">
      <h1>Hey, I'm Martin</h1>
      <h2 class="max-w-md">
        I love crafting web apps that rock, resonating with the rhythm of
        innovation, and summiting the peaks of open-source.
      </h2>
      <p class="font-mono">
        <span>Contact me at:&nbsp;</span><a href="mailto:martin@frommel.cz"
          >martin@frommel.cz</a
        >
      </p>
    </div>
  </main>
</Layout>
