---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div
      id="hero"
      class="relative top-auto z-20 mx-6 my-8 flex max-h-full max-w-fit flex-shrink flex-col flex-nowrap items-center justify-center space-y-4 px-2 py-4 text-center"
    >
      <h1
        class="text-3xl font-bold sm:text-4xl md:text-5xl xl:text-8xl md:portrait:text-7xl landscape:text-3xl landscape:md:text-4xl landscape:xl:text-8xl"
      >
        Hey, I'm Martin
      </h1>
      <h2
        class="text-md max-w-xs font-sans sm:text-2xl md:max-w-sm xl:max-w-xl xl:text-3xl md:portrait:max-w-md md:portrait:text-3xl landscape:text-sm landscape:md:text-lg landscape:xl:text-3xl"
      >
        I love crafting web apps that rock, resonating with the rhythm of
        innovation, and summiting the peaks of open-source.
      </h2>
      <p class="sm:text-md font-mono text-sm xl:text-lg">
        <span>Contact me at:&nbsp;</span><a
          class="transition-all duration-200 ease-in-out hover:border-b-2 hover:border-b-dark hover:dark:border-b-light"
          href="mailto:martin@frommel.cz">martin@frommel.cz</a
        >
      </p>
    </div>
  </main>
</Layout>
