---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div id="hero" class="hero">
      <h1>Hey, I'm Martin</h1>
      <h2 class="max-w-xs md:portrait:max-w-md">
        I love crafting web apps that rock, resonating with the rhythm of
        innovation, and summiting the peaks of open-source.
      </h2>
      <p class="font-mono xl:text-lg">
        <span>Contact me at:&nbsp;</span><a href="mailto:martin@frommel.cz"
          >martin@frommel.cz</a
        >
      </p>
    </div>
  </main>
</Layout>
