---
interface Props {
  title: string;
  href: string;
  description?: string;
}

const { href, title, description } = Astro.props;
---

<li class="flex flex-col">
  <a href={href} class="hover:border-0">
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    {description && <small>{description}</small>}
    <p>
      <slot />
    </p>
  </a>
</li>
