---
import Monogram from "./Monogram.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
import Tooltip from "./Tooltip.astro";
import Nav from "./Nav.astro";
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={className}>
  <DarkModeToggle />
  <Nav transition:persist />
  <Tooltip
    tooltipArrow={true}
    tooltipText="Made with 🧗 in 🇨🇿"
    tooltipPosition={"left"}
    tooltipClassName="dark:bg-light dark:text-dark bg-dark text-light font-mono "
    transition:persist><Monogram className="xl:w-24" /></Tooltip
  >
</section>
