---
import NavItems from "./NavItems.astro";
import Hamburger from "./Hamburger.astro";
---

<!-- 
Component for the navigation bar. * * This component displays a navigation
bar with two sections: one for large screens and one for small screens. * The
large screen section is hidden by default and is shown when the user interacts
with the navigation bar. * The small screen section is always visible and is
positioned at the bottom of the screen. -->
<div
  x-cloak
  class="flex select-none flex-col items-center justify-center"
  x-data="{ show: false }"
>
  <!-- Large Screen -->
  <menu
    x-cloak
    x-transition
    x-shot="!show"
    class="z-10 hidden h-20 max-h-20 flex-auto flex-row items-center justify-evenly gap-4 rounded-md bg-dark/20 px-4 py-2 backdrop-blur-sm dark:bg-light/20 lg:flex sm:portrait:flex"
  >
    <NavItems size={24} />
  </menu>

  <!-- Small Screen -->
  <menu
    x-cloak
    x-transition
    x-show="show"
    class="absolute bottom-16 z-30 flex h-24 w-fit flex-auto flex-row items-center justify-evenly gap-4 rounded-md bg-light/95 px-8 py-4 dark:bg-dark/95"
  >
    <NavItems size={32} />
  </menu>

  <Hamburger />
</div>
