---
import NavItems from "./NavItems.astro";
import Hamburger from "./Hamburger.astro";
---

<!-- 
Component for the navigation bar. * * This component displays a navigation
bar with two sections: one for large screens and one for small screens. * The
large screen section is hidden by default and is shown when the user interacts
with the navigation bar. * The small screen section is always visible and is
positioned at the bottom of the screen. -->
<div
  class="flex select-none flex-col items-center justify-center"
  x-data="{ show: false }"
>
  <!-- Large Screen -->
  <div
    x-cloak
    x-transition
    class="z-10 hidden h-28 max-h-full w-auto flex-none flex-row items-center justify-evenly gap-4 rounded-lg bg-dark/20 px-8 py-4 backdrop-blur-sm dark:bg-light/20 lg:flex sm:portrait:flex"
  >
    <NavItems size={48} />
  </div>

  <!-- Small Screen -->
  <div
    x-cloak
    x-transition
    x-show="show"
    class="absolute bottom-14 z-10 flex h-24 w-fit flex-none flex-row items-center justify-evenly space-x-4 rounded-lg bg-dark/20 px-8 py-4 backdrop-blur-sm dark:bg-light/20 xl:bottom-24"
  >
    <NavItems size={32} />
  </div>

  <Hamburger />
</div>
