---
import NavItems from "./NavItems.astro";
import Hamburger from "./Hamburger.astro";
---

<div
  class="flex select-none flex-col items-center justify-center"
  x-data="{ show: false }"
>
  <!-- Large Screen -->
  <div
    x-cloak
    x-transition
    class="z-10 hidden max-h-full w-auto flex-none flex-row items-center justify-evenly space-x-6 rounded-lg bg-dark/20 px-8 py-4 backdrop-blur-sm lg:flex sm:portrait:flex dark:bg-light/20"
  >
    <NavItems size={48} />
  </div>

  <!-- Small Screen -->
  <div
    x-cloak
    x-transition
    x-show="show"
    class="absolute bottom-14 z-10 flex w-fit flex-none flex-row items-center justify-evenly space-x-4 rounded-lg bg-dark/20 px-8 py-4 backdrop-blur-sm xl:bottom-24 dark:bg-light/20"
  >
    <NavItems size={32} />
  </div>

  <Hamburger />
</div>
