---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title=`Projects - ${project.data.title}`>
  <header>
    <h1>{project.data.title}</h1>
    <div class="inline-flex">
      <p>Published: &nbsp;</p>
      <time datetime={project.data.datePublished.getFullYear().toString()}
        >{project.data.datePublished.getFullYear()}</time
      >
    </div>
  </header>
  <main class="my-6 flex-1">
    <Content />
  </main>
  <a href="/projects" class="">Back to projects</a>
</Layout>
