@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Styles for the selected elements.
 *
 * [x-cloak] - Hides the element with the attribute 'x-cloak'.
 * html - Applies flexbox layout with full height and width, centered content, and hidden horizontal overflow.
 * body - Sets the background image, blend mode, and applies various utility classes for background color, font, and text color.
 * h1, h2, h3 - Applies serif font to heading elements.
 * h4, h5, h6 - Applies sans-serif font to heading elements.
 * a - Applies transition and hover styles for links.
 * #monogram - Applies fill color to the element with the ID 'monogram'.
 * code - Sets the font family for code elements.
 * .menuItem - Applies flexbox layout and transition styles for menu items.
 */

[x-cloak] {
  display: none !important;
}

html {
  @apply flex min-h-full w-[100vw] min-w-[100vw] flex-col items-center justify-center overflow-x-hidden;
}

body {
  background: url("./assets/bg/bgDoodles.svg") center/cover fixed;
  background-blend-mode: overlay;
  @apply bg-light font-sans  text-base text-dark selection:bg-dark/20 dark:bg-dark dark:text-light dark:selection:bg-light/20;
}

h1,
h2,
h3 {
  @apply font-serif;
}

h1 {
  @apply text-3xl font-bold sm:text-4xl md:text-5xl xl:text-8xl md:portrait:text-7xl landscape:text-3xl landscape:md:text-4xl landscape:xl:text-7xl;
}

h2 {
  @apply font-sans md:portrait:text-3xl landscape:text-sm landscape:md:text-lg landscape:xl:text-3xl;
}

h4,
h5,
h6 {
  @apply font-sans;
}
a {
  @apply transition-all duration-100 ease-in hover:border-b-2 hover:border-b-dark hover:dark:border-b-light;
}
#monogram {
  @apply fill-dark dark:fill-light;
}

code {
  font-family: "VT323", monospace;
}

.menuItem {
  @apply flex flex-none flex-col flex-wrap items-center justify-center transition-all duration-100 hover:cursor-pointer active:scale-90;
}

.hero {
  @apply z-20 flex flex-1 flex-col flex-nowrap items-center justify-center gap-4  text-center;
}
