---
import BaseHead from '../components/BaseHead.astro'

import '../base.css'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="">
	<BaseHead title={title} />
	<body>
		<slot />
	</body>
</html>
